= render 'page/nav'
.topheader
  %h1 All Venue Owners
.adminlist
  - @admins.each do |admin|
    .wrapper
      %ul
        %l1
        %h1= link_to admin.ownername, admin, :class => 'adminame' 
= render 'page/footer'