<div id="footer">
    <ul>
        <div id="hide">
          <li style="color:#00CED1">©khrez ltd</li>
        </div>
        <br>
        <li><%= link_to 'About', page_about_path,:class => 'tex',:id => 'hide' %></li>
        <li><%= link_to 'Privacy Policy', page_privacypolicy_path,:class => 'tex',:id => 'hide' %></li>
        <li><%= link_to 'Terms & Conditions', page_termsandconditions_path,:class => 'tex',:id => 'hide' %></li>
        <li><%= link_to 'List Your Venue', page_listyourvenue_path,:class => 'tex',:id => 'hide' %></li>
        
        <div id="hide">
          <br>
          <li><a href="https://medium.com/@khrez" class="tex", target="_blank">Blog</a></li>
          <li></li> <a href="mailto:info@khrez.co.uk?Subject=Khrez%20contact" class="tex", target="_top">Contact</a></li>
        </div>
        
        <div id="socialbar">
          <li><a href="#" class="fa fa-facebook" target="_blank"></a></li>
          <li><a href="https://twitter.com/KhrezVenues?lang=en-gb" class="fa fa-twitter" target="_blank"></a></li>
          <li><a href="https://www.youtube.com/channel/UC8fWbnu8UoKFMPwPQWfS_bg" class="fa fa-youtube" target="_blank"></a></li>
          <li><a href="https://www.instagram.com/khrezvenues/?hl=en" class="fa fa-instagram"  target="_blank"></a></li>
        </div>
    </ul>
    
</div>