

<div class="topnav" id="myTopnav">
  <a id="logo" href="http://www.khrez.co.uk/">K</a>
  <% unless admin_signed_in? %>
  <% unless user_signed_in? %>
    <a id="down"><%= link_to 'Log In', new_admin_session_path,:class => "login" %> </a>
    <a href="#"><%= link_to 'List Your Venue', page_listyourvenue_path,:class => "colour" %></a>
  <% end %>    
  <% end %>
  <% if admin_signed_in?%>
    <a id="down"><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></a>
  <% end %>
    <a href="javascript:void(0);" style="font-size:35px;padding: 15px 30px;color:#00CED1" class="icon" onclick="myFunction()" id="hammenu">&#9776;</a>
</div>