= render 'nav'
.topheader
  %h1 About Us
    

.LYV

  %h2.top
    Khrez Ltd was created with the idea to make it much easier
    %br/
    to find the perfect venue for any sort of event you may 
    %br/
    be hosting. The idea of Khrez came when we noticed how
    %br/
    difficult it was to find a venue to host a birthday party.
    %br/
    And yes, we are a mother, father and son team.
    

.wrapper
  #content
    %hr/
    %br/
    %br/
    = image_tag("About Page/chisom.jpg", :alt => "Chisom", class: 'about_image')
    %br/
    %h1 Chisom Agu - CTO
    %p 
      Hello, my name is Chisom Agu, my main role in khrez is 
      %br/
      handliing the technologhy side of the business.
    
    %br/
    %br/
    %hr/
    %br/
    %br/
    = image_tag("About Page/eze.jpg", :alt => "Eze", class: 'about_image')
    %br/
    %h1 Eze Agu - CEO
    %p
      Hello, my name is Eze Agu, my main role in khrez is 
      %br/
      handliing the business side of the business.
    


= render 'page/footer'
