= render 'nav'
.heros-image
  .heros-text
    %h1 About Us
    
.wrapper
  #content
    %br/
    %br/
    %h1.title What We Do
    %p.content Khrez Ltd was created with the idea to make it much easier to find your perfect venue for any sort of event you may be hosting
    %p.content The idea of Khrez came when we noticed how difficult it was to find a venue to host a birthday party
    %br/
    %br/
    %h1.title Our Founders
    %br/
    %br/
  .row
    .column
      .card
        = image_tag("20170727_142020.jpg", :alt => "Chisom")
        .container
          %h2 Chisom Agu
          %p.title CEO & Co - Founder
          %p Hi, I'm Chisom Agu, my main role in Khrez is handaling all the technologhy side of the company.
    .column
      .card
        = image_tag("2015-02-08 10.18.11.jpg", :alt => "Ezi")
        .container
          %h2 Ezi Agu
          %p.title COO & Co - Founder
          %p Hi, I'm Ezi Agu, my main role in Khrez is handaling all the business side of the company
          %br/


= render 'footer'