%br
%br

.wrapper
  %hr
  %br/
  %h1.colour.center Get started with Khrez
  %br
  %hr
  %br/
  %br/
  %h1.colour2 Thank you for signing up to khrez !
  %br/
  %h3.colour Within 24 hours we will send you a invoice and once you have paid you will recieve your sign in code to start recieveing bookings .


  %br/
  / PayPal Logo
  %table{:align => "left", :border => "0", :cellpadding => "10", :cellspacing => "0"}
    %tr
      %td{:align => "left"}
    %tr
      %td{:align => "left"}
        %a{:href => "https://www.paypal.com/uk/webapps/mpp/paypal-popup", :onclick => "javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;", :title => "How PayPal Works"}
          %img{:alt => "PayPal Acceptance Mark", :border => "0", :src => "https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png"}/
  / PayPal Logo
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br
  %br/
  %br/
  %br/
  %br
  
  %h3= link_to('Back', destroy_admin_session_path, method: :delete,class:'link')




