.columns
  %ul.price
    %li.header Basic
    %li.grey $ 9.99 / year
    %li 10GB Storage
    %li 10 Emails
    %li 10 Domains
    %li 1GB Bandwidth
    %li.grey
      %a.buttonprice{:href => "#"} Sign Up
.columns
  %ul.price
    %li.header{:style => "background-color:#4CAF50"} Pro
    %li.grey $ 24.99 / year
    %li 25GB Storage
    %li 25 Emails
    %li 25 Domains
    %li 2GB Bandwidth
    %li.grey
      %a.buttonprice{:href => "#"} Sign Up
