.columns
  %ul.price
    %li.header Basic
    %br/
    %li.grey £ 100 / month
    %li 1 Venue
    %li Customer Support
    %li Venue Promotion
    %li
      %a.buttonprice{:href => "#"} Sign Up
.columns
  %ul.price
    %li.header{:style => "background-color:#202025"} Pro
    %br/
    %li.grey £600 / month
    %li Unlimited Venues
    %li Customer Support
    %li Venue Promotion
    %li
      %a.buttonprice{:href => "#"} Sign Up
