.hero-image
  .hero-text
    %h1 Find Your Perfect Venue
    #text2
      %h2 As Easy As Possible
    = form_tag(venues_path, :method => "get", :id => 'form') do
      = text_field_tag  :search, params[:search], placeholder: "location ", :id => 'search', required: true
      = submit_tag "Search", :name => nil, :class => "searchbutton"


%h1#exloretext
  Explore
  %span#fullstop .


