= render 'nav'
 
.hero
  .text
    %h1 List your venue
    %br/
    %br/
    = link_to 'Start Now', new_admin_registration_path, :class => 'button2'

.wrapper
  %h1.colour How it works 
  
  %br/
  
  %p#gray 1. Sign Up for your free account
  %p#gray 2. Fill in your venues details
  %p#gray 3. See all the bookings come in !
  
  %h1.colour It's as easy as that !
  
  %h1.colour We sort out everything else for you such as ...
  
  %br/
  
  %p#gray 1. Listing your venue on our website
  %p#gray 2. Advertising your venue on social media
  %p#gray 3. Makeing sure potential customers can find your venue easily
  
  %h1.colour Payments
  %br/
  
  %p#gray We will give you 3 months free but after that you will be charged for using khrez
  
  %br/

  / PayPal Logo
  %table{:align => "left", :border => "0", :cellpadding => "10", :cellspacing => "0"}
    %tr
      %td{:align => "left"}
    %tr
      %td{:align => "left"}
        %a{:href => "https://www.paypal.com/uk/webapps/mpp/paypal-popup", :onclick => "javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;", :title => "How PayPal Works"}
          %img{:alt => "Payments by PayPal", :border => "0", :src => "https://www.paypalobjects.com/webstatic/mktg/logo/bdg_payments_by_pp_2line.png"}/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/


  
  = link_to 'Start Now', new_admin_registration_path, :class => 'button'
  
  %br/
  %br/
  
= render 'footer'  



