= render 'nav'
 
.hero
  .text
    %h1 List your venue
    %h3 The easy way
    %br/
    %br/
    = link_to 'Start Now', new_admin_registration_path, :class => 'button2'

.wrapper
  .content
    %h1 Why list your venue 
    %h1 with khrez ?
  
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  
  .floating-box 
    %i.fa.fa-ban{"aria-hidden" => "true"}
    %h1 No nasty commissions
    %p Nobody likes commissions per venue so thats why we only charge you a straight monthy fee of £600,
    %p easy !
  .floating-box 
    %i.fa.fa-home{"aria-hidden" => "true"}
    %h1 Unlimited venues !
    %p Have you got more than one venue ? Don't worry we've got you covered for know extra cost
  .floating-box 
    %i.fa.fa-check{"aria-hidden" => "true"}
    %h1 Easy bookings
    %p Simply Accept or Reject any booking requests that you recieve
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  
  .floating-box 
    %i.fa.fa-plus{"aria-hidden" => "true"}
    %h1 Extra Bookings
    %p Instantly see the increase in traffic to your venues 
  .floating-box 
    %i.fa.fa-money{"aria-hidden" => "true"}
    %h1 Free Promotion
    %p We will advertise your venue across our social media profiles for no extra cost
  .floating-box 
    %i.fa.fa-phone{"aria-hidden" => "true"}
    %h1 Friendly Support
    %p Whenever you need help our team in always on hand to help you with any of your proplems

  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/


  
  %br/
  %br/
  %br/
  %br/
  %br/
  %br/
  
= render 'footer'  



