= render 'nav'
 
.wrapper
  #content
    %h1.title T&C
    %p.content Knausgaard farm-to-table selvage, raclette twee kitsch vinyl cloud bread fixie flannel. Scenester post-ironic slow-carb YOLO lumbersexual, mustache hoodie gentrify ramps tofu art party ethical tumblr biodiesel snackwave. Slow-carb snackwave swag gluten-free, flexitarian scenester vexillologist XOXO quinoa readymade heirloom blue bottle 8-bit chia. Man braid twee ugh salvia, austin intelligentsia lo-fi hell of knausgaard crucifix taiyaki slow-carb chartreuse. Cronut bespoke gochujang affogato vape YOLO tousled neutra next level pour-over ennui XOXO poutine brooklyn. Squid affogato try-hard tote bag cornhole pickled humblebrag put a bird on it tattooed single-origin coffee pug flexitarian. Intelligentsia put a bird on it cloud bread, whatever occupy polaroid prism kickstarter cred helvetica try-hard blog cardigan. Blue bottle next level brunch actually adaptogen banh mi enamel pin gentrify unicorn butcher readymade freegan. Chillwave tbh sartorial viral shoreditch. Leggings la croix gastropub meh. Quinoa skateboard chartreuse waistcoat, asymmetrical crucifix tbh hexagon. Street art offal etsy franzen activated charcoal kickstarter beard glossier blue bottle lomo man bun chillwave next level skateboard yr. Cardigan tbh selfies, forage street art polaroid vape shoreditch neutra irony. Messenger bag franzen hexagon, 3 wolf moon hashtag heirloom mlkshk gluten-free echo park normcore squid neutra pok pok celiac. Food truck biodiesel 8-bit XOXO, cornhole enamel pin bicycle rights selvage.

#content
  = render 'footer'