= render 'page/nav'

%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br
%br/
.field
  %h1.colour New Venue
%br/
%br/
%br/
%br/
%br/
%br/
= render 'form'
= render 'page/footer'
/ Global Site Tag (gtag.js) - Google Analytics
%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-106207758-1"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-106207758-1');


   