// Variables
$maincolour:#424C5B;
$secondcolour:#B0E0E6;

// Admin & User - Edit And New Page
#h2_margin_top{
    color:$maincolour;
    text-align:center;
    margin-top:200px;
}

// Admin Index Page 
.adminlist{
    text-align:center;
    padding-top:8em;
    .adminame{
      text-decoration:none;
      color:$maincolour;
      &:hover{
          color:$secondcolour;
      }
    }
}

