// Variables
$maincolour:#424C5B;
$secondcolour:#00CED1;


// Booking Form
.button_submit {
  outline: none;
  background: $secondcolour;
  color:#ffffff;
  border:0;
  text-decoration:none;
  border-radius:5px;
  padding:23px;
  font-size:18px;
  width:100%;
  font-weight:500;
  letter-spacing:.5px;
  &:hover {
    background: #708090;
  }
}

.booking_form{
  position:absolute;
  box-shadow: 0 8px 50px -1px lightgray;
  float:right;
  right:5%;
  top:110%;
  padding:60px;
  border-radius:5px;
  background:#ffffff;
  .in{
    color:gray;
  }
  h2{
    color:$maincolour;
    font-weight:700;
    text-align:center;
  }
  #form_input_width{
    width:100px;
  }
}

// Booking Requests - Admin Page
.booking_grid {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 70px;
    border-radius:10px;
    box-shadow: 0 8px 50px -1px lightgray;
    background:#ffffff;
    padding:50px;
    &:hover{
      box-shadow: 5px 10px 50px -1px lightgray; 
    }
    .text{
      color:gray;
    }
}