// Variables
$maincolour:#424C5B;
$secondcolour:#B0E0E6;

.chat_bar{
  width:100%;
  position:fixed;
  bottom:0;
  box-shadow: 0 8px 50px -1px lightgray;
  z-index:1;
  padding:1em;
  background:#ffffff;
  .chatBar{
      width:40%;
      height:100%;
      padding:20px;
      padding-bottom:15px;
      padding-top:40px;
      font-size:1.1em;
      padding-left:2em;
      border:0;
      background:#ffffff;
      &::placeholder {
        color: #A9A9A9;
      }

      &:focus{
          outline:none;
          color:$maincolour;
      }
  }
  .chatButton{
      float:right;
      margin-top:-80px;
      background:#ffffff;
      border-radius:5px;
      width:7em;
      border:1px solid #A9A9A9;
      color:#A9A9A9;
      padding:1.3em;
      margin-right:4em;
      transition:0.3s;
      &:hover{
          color:$maincolour;
          border:1px solid $maincolour;
      }
      &:focus{
          outline:none;
      }
  }
}

#top_booking_bar{
  background:$secondcolour;
  width:100%;
  overflow:hidden;
  height:300px;
  h2{
    color:#ffffff;
    padding: 170px 0;
    text-align: center;
  }
}

.wrapper{
    .chat{
        .hr_chat{
            border:.2px solid #A9A9A9;
        }
        .header{
            color:$maincolour;
            font-size:1.2em;
            max-width:70%;
            line-height:1.6em;
            padding:40px;
        }
        .name{
            color:lightgray;
            font-size:1em;
            margin-top:-5em;
            padding:40px;
        }
    }
}

i.fa.fa-comments{
      float:right;
      margin-top:-87px;
      border-radius:5px;
      width:7em;
      color:#A9A9A9;
      padding:1.5em;
      margin-right:5.5em;
      font-size:1.2em;
      transition:0.3s;
}

.deposit{
      float:right;
      margin-top:-85px;
      border-radius:5px;
      text-decoration:none;
      color:#A9A9A9;
      padding:1.5em;
      margin-right:14.5em;
      font-size:1.1em;
      transition:0.3s;
      &:hover{
          color:$maincolour;
      }
}

i.fa.fa-credit-card-alt{
      float:right;
      margin-top:-87px;
      border-radius:5px;
      width:7em;
      color:#A9A9A9;
      padding:1.5em;
      margin-right:18em;
      font-size:1.2em;
      transition:0.3s;
}

.payment{
      float:right;
      margin-top:-85px;
      border-radius:5px;
      text-decoration:none;
      color:#A9A9A9;
      padding:1.5em;
      margin-right:28.5em;
      font-size:1.1em;
      transition:0.3s;
      &:hover{
          color:$maincolour;
      }
}