// Variables
$maincolour:#424C5B;
$secondcolour:#B0E0E6;

// Comments Form
.comment_input{
        width:85%;
        border:.7px solid #A9A9A9;
        border-radius:5px;
        padding:4em;
        padding-top:5em;
        &::placeholder {
         color: #A9A9A9;
         font-size:1em;
        }
    
        &:focus{
          outline:none;
          color:$maincolour;
        }
}

.comment{
  h3{
      max-width:80%;
      line-height:1.6em;
      padding:40px;
      font-size:1.1em;
  }
 .bottom{
   margin-top:-5.5em;
   color:lightgray;
   font-size:1em;
   padding:40px;
 }
}

