$maincolour:#d6dce0;
$secondcolour:#00CED1;


#sidenav{
	height:100vh;
	position:fixed;
	width:280px;
	background:#ffffff;
	left:0;
	a{
		position:relative;
		top:30%;
		left:53px;
		font-size:20px;
		text-decoration:none;
		color:#A4B4BB;
		padding:0;
		transition:padding .4s;
		&:hover{
			border-left:3px solid $secondcolour;
			padding:20px;
		}
	}
}


#logo2{
  font-family: 'Architects Daughter', cursive;
  color: $secondcolour;
  position:relative;
  left:50%;
  font-size: 40px;
  margin-right: 50px;
  padding:30px;
  top:70px;
  text-decoration:none;
  transition:color .5s;
  
  &:hover{
      color:#008080;
  }
}

.colourname{
	color:#708090;
	position:relative;
	top:65px;
	float:right;
	right:5%;
	font-size:1.2em;
	transition:color .5s;
	&:hover{
		color:$secondcolour;
	}
}

#posts2 {
    width:70%;
    float:right;
	.post2 {
		background: transparent;
		width: 30%;
		float: left;
		margin: 1rem 2.5%;
		border: 0px solid #E4E4E4;
		margin-bottom:100px;
		.post_image2 {;
			img {
				width: 100%;
				height: 100%;

				
			}
		}
		.post_content2 {
			margin-top:30px;
		    .username {
			  float: left;
			  color:#ffffff;
			  margin-bottom:20px;
			  margin-top:5px;
			  a{
			  	color:gray;
			  	text-decoration:none;
			  	&:hover{
			  		color:#333233;;
			  	}
			  }
			  .name{
			    color:#ffffff;
			    &:hover{
			        color:lightgray;
			    }
			  }
			}
	}
}
}

