// Variables
$maincolour:#424C5B;
$secondcolour:#00CED1;

// Dashboard Sidebar
#sidenav{
	height:100vh;
	position:fixed;
	width:20%;
	background:#ffffff;
	left:0;
	a{
		position:relative;
		top:30%;
		left:53px;
		font-size:20px;
		text-decoration:none;
		color:#A4B4BB;
		padding:0;
		transition:padding .4s;
		&:hover{
			border-left:3px solid $secondcolour;
			padding:20px;
		}
	}
}

.admin_name{
	color:$maincolour;
	position:relative;
	top:65px;
	float:right;
	right:5%;
	font-size:1.2em;
	transition:color .5s;
	&:hover{
		color:$secondcolour;
	}
}

#posts_dashboard {
	width:70%;
    float:right;
	.post_dashboard {
		background: transparent;
		width: 30%;
		float: left;
		margin: 1rem 2.5%;
		border: 0px solid #E4E4E4;
		margin-bottom:100px;
		.post_image_dashboard {
			img {
				width: 100%;
				height: 100%;
			}
		}
	.post_content_dashboard {
		margin-top:30px;
		.venuetext{
	        color:$maincolour;
	        text-decoration:none;
	        font-weight:700;
	        text-align:center;
	        font-size:25px;
	        text-transform:uppercase;
	        text-decoration:none;
	        &:hover{
	        	color:$secondcolour;
	        }
      }
	}
}
}

.dashboard{
	#posts{
		width:75%;
		padding-top:0px;
		margin-right:0px;
	}
}