$maincolour:#d6dce0;
$secondcolour:#00CED1;

#sidenav{
	height:100%;
	position:fixed;
	width:300px;
	background:#ffffff;
	border-left:3px solid #708090;
	overflow:hidden;
	right:0;
	a{
		position:relative;
		top:30%;
		left:55px;
		font-size:23px;
		text-decoration:none;
		color:#708090;
		&:hover{
			border-left:2px solid #708090;
			padding:10px;
		}
	}
}




#logo2{
  font-family: 'Architects Daughter', cursive;
  color: #00CED1;
  float: left;
  font-size: 35px;
  margin-left: 30px;
  padding:30px;
  padding-top:45px;
  text-decoration:none;
  &:hover{
      color:#008080;
  }
}

.colourname{
	text-align:left;
	color:gray;
	padding:70px;
	padding-left:180px;
}

#posts2 {
    width:80%;
    float:left;
    padding-left:150px;
	.post2 {
		background: transparent;
		width: 30%;
		float: left;
		margin: 1rem 2.5%;
		border: 0px solid #E4E4E4;
		margin-bottom:100px;
		.post_image2 {;
			img {
				width: 100%;
				height: 100%;

				
			}
		}
		.post_content2 {
			margin-top:50px;
		    .username {
			  float: left;
			  color:#ffffff;
			  margin-bottom:20px;
			  margin-top:5px;
			  a{
			  	color:gray;
			  	text-decoration:none;
			  	&:hover{
			  		color:#333233;;
			  	}
			  }
			  .name{
			    color:#ffffff;
			    &:hover{
			        color:lightgray;
			    }
			  }
			}
	}
}
}