/* Variables */

$maincolour:#d6dce0;
$secondcolour:#ffd680;

.colour{
  color:gray;
}

.center{
  text-align:center;
}

.uppercase{
  text-transform:uppercase;
}

.hr{
  width:10px;
  border:10px solid red;
}

.p{
  text-transform:uppercase;
  color:red;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}




.button {
	outline: none;
	background: transparent;
	color:$maincolour;
	text-decoration:none;
	border: 1px solid $maincolour;
	padding: .7em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid $secondcolour;
		color: $secondcolour;

	}
}

.button2 {
	outline: none;
	background: transparent;
	color:#ffffff;
	text-decoration:none;
	border: 1px solid #ffffff;
	padding: .7em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid #ffffff;
		color: #ffffff;

	}
}

.wrapper{
  width: 80%;
	margin: 0 auto;
	margin-top:100px;
}




.alert {
  padding: 20px;
  background-color:  #4CAF50;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  .closebtn:hover {
    color: black;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

}



/* Needs Organising */



.link{
  color:gray;
  text-decoration:none;
}

.link:hover{
  color:#ffd680;
}





  #search{
      background:#ffffff;
      margin-top:50px;
      border: 3px solid #ffffff;
      border-radius:10px;
      padding:30px;
      color:#ffd680;
      padding-left:40px;
      margin-left:9px;
  }
  .searchbutton{
      padding:30px;
      border-radius:10px;
      background:gray;
      border:0;
      margin-left:40px;
      color:#ffffff;
  }
  .searchbutton:hover{
      background:#ffd680;
  }
  
  .margin{
    text-align:center;
  }

 
 
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.field{
  text-align:center;
}

.in{
  outline: none;
	background: transparent;
	color:$maincolour;
	text-decoration:none;
	border: 1px solid $maincolour;
	padding: .7em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid $secondcolour;
		color: $secondcolour;

	}
}

.tickbox{
  margin-right:10px;
}

.ins{
  outline: none;
	background: transparent;
	color:$maincolour;
	text-decoration:none;
	border:0;
	padding: .7em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border:0;
		color: $secondcolour;

	}
}

.gray{
  color:#708090;
}


ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 15px;
  border: 0;
  cursor: pointer; 
  
}
  ul.ui-autocomplete li {
    background-color: #ffffff;
    color: gray;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
  }