// Variables
$maincolour:#424C5B;
$secondcolour:#B0E0E6;

#logo{
  font-family: 'Josefin Sans', sans-serif;
  color: $maincolour;
  float: left;
  text-align:center;
  font-size: 1.75rem;
  margin-left: 1.5em;
  margin-top:25px;
  &:hover{
    color:#A9A9A9;
  }
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid #E4E4E4;
  width: 100%;
  padding: 1.3rem 0;
  padding-bottom:1.5rem;

  img{
    width:45px;
    height:45px;
    border-radius:50%;
    color:$maincolour;
  	position:relative;
  	top:28px;
  	float:right;
  	right:9%;
  }
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 2;
    cursor: pointer;
  }
  .list{
    padding-right:60px;
    font-size:1.1rem;
    margin-top: 22px;
  }
  .on{
    color:#A9A9A9;
  	position:relative;
  	float:right;
  	right:3%;
  	font-size:1.1rem;
    margin-top: 30px;
  	cursor:pointer;
  	transition:0.3s;
  	&:hover{
  	  color:gray;
  	}
  }
  .dash{
    color:$maincolour;
  	position:relative;
  	float:right;
  	right:12%;
  	a{
  	  
  	}
  }
  i{
    transition: 0.3s ease-out;
    float: right;
    display: block;
    color: #A9A9A9;
    margin-right:30px;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size:1.1rem;
    margin-top: 17px;
    &:hover{
      color:gray;
    }
  }
}


.topnav a {
  float: right;
  display: block;
  color: #A9A9A9;
  text-align: center;
  padding: 0px 8px;
  text-decoration: none;
  font-size:1.1rem;
  margin-top: 30px;
  transition: 0.3s ease-out;
  &:hover{
    color:gray;
  }
  
}

.topnav .icon {
  display: none;
}

.white{
  color:#ffffff;
}

// Search modal
/* The Modal (background) */
.Searchmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    opacity:0.98;
    overflow: hidden; /* Enable scroll if needed */
}

/* Modal Content */
.Searchmodal-content {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    .search_wrap{
      padding-top:50px;
      .div_searchTerm {
        float: left;
        border-bottom:1px solid gray;
        border-top:0;
        border-left:0;
        border-right:0;
        padding:0;
        height: 10vh;
        width:60vw;
        max-width:95%;
        outline: none;
        color:gray;
        text-align:left;
        border-radius:0;
        font-weight:300;
      }
      .div_searchTerm2 {
        float: left;
        border:0;
        width:57vw;
        background:transparent;
        font-size:15px;
        margin-top:30px;
        border-radius:0;
        padding:0;
        font-weight:300;
        border-bottom:1px solid gray;
        height: 10vh;
        color:gray;
        -webkit-appearance: none;
        outline: none;
        color:gray;
      }
      .button{
        margin-top:50px;
        border-radius:5px;
      }
    }
}

/* The Close Button */
.Searchclose {
    color: #A9A9A9;
    transition: 0.3s;
    float: right;
    font-size: 35px;
    font-weight: lighter;
    padding:40px;
    padding-top:45px;
    padding-right:65px;
}

.Searchclose:hover,
.Searchclose:focus {
    color: $maincolour;
    text-decoration: none;
    cursor: pointer;
}