// Variables
$maincolour:#424C5B;
$secondcolour:#00CED1;

// Home Page
.explore_text{
  h1{
    color:$maincolour;
    position:absolute;
    left:10%;
    font-size:45px;
    top:112%;
  }
  #posts{
    margin-top:300px;
  }
}

// Search Bar
.search {
  width: 60vw;
  position: absolute;
  box-shadow: 0 8px 50px -1px lightgray;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchline{
  border-left: 1px solid gray;
  height: 8vh;
  position: absolute;
  left: 41%;
  margin-left: -3px;
  top: 23%;
}
.searchTerm {
  float: left;
  width: 25vw;
  border:0;
  padding: 5px;
  height: 13vh;
  outline: none;
  text-align:center;
  color:gray;
}
.searchTerm2 {
  float: left;
  border:0;
  position:absolute;
  left:32vw;
  background:transparent;
  font-size:15px;
  padding: 5px;
  height: 14vh;
  color:gray;
  outline: none;
}

.searchButton {
  position: absolute;  
  right: -10px;
  width: 10vw;
  height: 14.25vh;
  border:0;
  background: #424C5B;
  text-align: center;
  color: #F3F6F9;
  font-size: 15px;
  -webkit-transition: width 1s; 
  border-radius:0;
  -webkit-border-radius: 0;
  &:hover{
    width:250px;
    background:#3F4857;
  }
}

.wrap{
  width: 60%;
  position: absolute;
  top: 68%;
  left: 38.8%;
  transform: translate(-50%, -50%);
}


// Hero Image on home page 

.hero-image {
  height: 100%;
  background:#ffffff;
  overflow:hidden;
  
  .top_hero_image{
    height:100%;
    width:100%;
    left:60%;
    position:relative;
    float:right;
  }
 
  .hero-text {
    text-align: left;
    position: absolute;
    top: 39%;
    left: 26%;
    transform: translate(-50%, -50%);
    color: #424C5B;
    font-size:1.5vw;
    font-weight:700;
    h2{
      color:lightgray;
      font-weight:100;
      letter-spacing:1px;
      font-size:1.8vw;
    }
  }
}   



#footer{
    background:#ffffff;
    padding:40px;
    
    ul{
        list-style-type:none;
    }
    li{
        display:inline-block;
        margin-left:20px;
        font-size:15px;
    }
    .tex{
        color:gray;
        text-decoration:none;
    }
    .tex:hover{
        color:#00CED1;
    }

}



.footer_container{
  min-height:150%;
  position:relative;
  .footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;/* Height of the footer */
    margin-bottom:250px;
    background:#ffffff;
    border-top:1px solid #A9A9A9;
    .copywright{
        p{
            color:$secondcolour;
            position:absolute;
            top:150%;
            left:25%;
            font-size:1.2em;
        }
    }
    #footer_links{
      position:absolute;
      top:50%;
      left:40%;
      a{
          text-decoration:none;
          color:gray;
          font-size:.9em;
          &:hover{
              color:$secondcolour;
          }
      }
      li{
          list-style-type:none;
          margin-top:25px;
      }
      #title{
          color:$secondcolour;
      }
    }
    #footer_links_social{
      position:absolute;
      top:50%;
      left:60%;
      a{
          text-decoration:none;
          color:gray;
          font-size:.9em;
          &:hover{
            color:$secondcolour;
          }
      }
      li{
          list-style-type:none;
          margin-top:25px;
      }
      #title{
          color:$secondcolour;
      }
    }
  }
}

// About Page
#content{
  h1{
    text-align:center;
    color:$maincolour;
    font-size:40px;
  }
  .content{
    padding-top:0px;
    margin:0 auto;
    font-size:20px;
    font-weight:700;
    color:#696969;
    width:40%;
    text-align:left;
    p{
      letter-spacing:20px;
    }
  }
}

.down {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}

.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
  position:relative;
  left:25%;
}

.card {
  img{
    width:100%;
    height:30%;
  }
  .container {
    padding:30px;
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

// List Your Venue Page
.top_image{
  height:80%;
  width:100%;
  background:#424C5B;
  .topnav{
    background:transparent;
    position:static;
    a{
      color:#ffffff;
      &:hover{
        color:#ffffff;
      }
    }
    }
    #logo{
      color:#ffffff;
      &:hover{
        color:#ffffff;
      }
    }
    .top_image_text{
      color:#ffffff;
      position:absolute;
      top:21%;
      right:20%;
      font-size:30px;
      .get_started_button{
	       outline: none;
	       background: #ffffff;
	       color:#424C5B;
	       text-decoration:none;
	       padding: 1.3em 2.5em;
	       font-size:20px;
	       border-radius: 2em;
	       &:hover {
		       opacity:0.9;
         }
      }
    }
    .top_image_img{
      #ideaimg{
        position:absolute;
        left:18%;
        top:23%;
        height:350px;
        width:350px;
      }
    }
    .top_image_symbol{
        color:#ffffff;
        position:absolute;
        bottom:10%;
        left:50%;
        font-size:50px;
    }
}

.content_grid{
  .line {
    border-left: 3px solid lightgray;
    height: 170%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 80%;
  }
  .circle2{
    background:$secondcolour;
    border-radius:400px;
    height:25px;
    width:25px;
    position:absolute;
    left:49.3%;
    top:103%;
  }
  .circle3{
    background:$secondcolour;
    border-radius:400px;
    height:30px;
    width:30px;
    position:absolute;
    left:49.2%;
    top:153%;
  }
  .circle4{
    background:$secondcolour;
    border-radius:400px;
    height:30px;
    width:30px;
    position:absolute;
    left:49.2%;
    top:210%;
  }
  #messageillustration{
    height:200px;
    width:200px;
    position:absolute;
    right:15%;
    top:95%;
  }
  #twitterillustration{
    height:200px;
    width:200px;
    position:absolute;
    left:15%;
    top:145%;
  }
  #supportillustration{
    height:200px;
    width:200px;
    position:absolute;
    right:15%;
    top:205%;
  }
  .content_text{
    .content_text_2{
      position:absolute;
      left:15%;
      top:95%;
      h1{
        color:#4D565A;
        font-weight:100;
        margin:0;
        font-size:50px;
      }
      p{
        color:#99A9B2;
        margin:0;
        margin-top:20px;
        font-size:20px;
      }
    }
    .content_text_3{
        position:absolute;
        right:17%;
        top:145%;
        h1{
          color:#4D565A;
          font-weight:100;
          margin:0;
          font-size:60px;
        }
        p{
          color:#99A9B2;
          margin:0;
          margin-top:20px;
          font-size:23px;
        }
    }
    .content_text_4{
        position:absolute;
        left:15%;
        top:205%;
        h1{
          color:#4D565A;
          font-weight:100;
          margin:0;
          font-size:60px;
        }
        p{
          color:#99A9B2;
          margin:0;
          margin-top:20px;
          font-size:23px;
        }
    }
  }
}


