

body, html {
    height: 100%;
    margin: 0;
}

/* Hero Image on home page */

.hero-image {
  height: 75%;
        
  .hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: gray;
    font-size:25px;

    
  #text2{
     color:#ffd680;
  }  
  

}


}

#exloretext{
    color:gray;
    padding:100px;
    font-size:3em;
    #fullstop{
        color:#ffd680;
    }
}




