@media only screen and (max-width: 1200px) {
  #posts{
      width:100%;
      margin-right:0;
      margin:0;
      overflow:hidden;
      float:left;
      text-align:center;
      .post{
          width:100%;
          margin-left:0;
          .post_content{
            padding-left:0;
            max-width:100%;
            text-align:center;
            margin-top:70px;
          }
      }
  }
  
  .hero-image {
  background-image: image-url("breather-163391.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
    font-size:13px;
    letter-spacing:1px;
    width:75%;
  
  #text2{
     color:#ffffff;
  }  
  
  
}



.icon{
  color:gray;
}
}

    #search{
      background:#ffffff;
      margin-top:50px;
      border: 3px solid #ffffff;
      border-radius:400px;
      padding:20px;
      color:#00CED1;
      width:75%;
      margin-left:0;
      text-align:center;
  }
  
    #cat{
      background:#ffffff;
      margin-top:10px;
      border: 3px solid #ffffff;
      border-radius:400px;
      color:gray;
      margin-left:0px; 
      height:60px;
      width:90%;
      text-indent: 35%;
  }
  
    .searchbutton{
      padding:20px;
      border-radius:100px;
      background:gray;
      border:0;
      margin-top:30px;
      color:#ffffff;
      width:100%;
      margin-left:0;
  }


#exloretext{
    color:gray;
    padding-top:230px;
    position:absolute;
    text-align:left;
    font-size:3.2em;
    top:80%;
    left:0%;
    margin-left:10px;
    #fullstop{
        color:#00CED1;
    }
}



#footer{
  
    #socialbar{
        float:left;
    }
    .fa {
      font-size: 25px;
      width: 40px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      margin-left:0;
      border-radius: 50%;
      color:#00CED1;
      margin-top:30px;
      margin-bottom:10px;
    }
    li{

        margin-left:0px;
        font-size:20px;
    }
    #hide{
      display:block;
    }
}





.index{
	.searchbutton{
		width:80%;
	}
}

.wrapper{
  width:70%;
}

.wrapperven{
  width:90%;
}

.wrapperven{
  width: 80%;
  margin: 0 auto;
  margin-top:100px;
  .desc{
  	max-width:50%;
  	color:#708090;
  }
  img{
  	height:30vh;
  	width:100%;
  }
}

.tablink {
    background-color: gray;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 24px 16px;
    font-size: 12px;
    width: 25%;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 25px;
}

.topnav {
  overflow: hidden;
  background-color: #00CED1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

#logo{
  color:#ffffff;
}
#down{
  padding-top:70px;
}

#content{
    h1{
        text-align:left;
        color:#ffd680;
        text-transform:uppercase;
        text-decoration:underline;
        font-size:40px;
    }
    .content{
        padding-top:0px;
        font-size:20px;
        font-weight:700;
        color:#696969;
        width:100%;
        text-align:left;
    }
}

}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
#posts {
    width:90%;
    float:right;
    padding-top:70px;

	.post {
		background: transparent;
		width: 40%;
		margin: 1rem ;
		border: 0px solid #E4E4E4;
		margin-bottom:100px;
		.post_image {;
			img {
				width: 93%;
				height: 67%;

				
			}
		}
		.post_content {
			margin-top:40px;
		    .username {
			  float: left;
			  color:#ffffff;
			  margin-bottom:20px;
			  margin-top:5px;
			  a{
			  	color:gray;
			  	text-decoration:none;
			  	&:hover{
			  		color:#333233;;
			  	}
			  }
			  .name{
			    color:#ffffff;
			    &:hover{
			        color:lightgray;
			    }
			  }
			}
			h2 {
				margin: 0;
				font-weight: 100;
				margin-top:0rem;
				font-size: 2.25rem;
				a {
					text-decoration: none;
					color: #ffffff;
					&:hover {
						color: #E9E9E9;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #969696;
				.username, .buttons {
					margin: 0;
					font-size: .8rem;
				}
				.buttons {
					float: right;
					span {
						margin-left: .5rem;
					}
				}
			}
		}
	}
}

#exloretext{
    color:gray;
    padding-top:230px;
    position:absolute;
    text-align:left;
    font-size:3.2em;
    top:90%;
    left:10%;
    #fullstop{
        color:#00CED1;
    }
}





.icon{
  color:gray;
}


    #search{
      background:#ffffff;
      margin-top:50px;
      border: 3px solid #ffffff;
      border-radius:400px;
      padding:20px;
      color:#00CED1;
      width:90%;
      margin-left:0;
      text-align:center;
  }
  
    #cat{
      background:#ffffff;
      margin-top:10px;
      border: 3px solid #ffffff;
      border-radius:400px;
      color:gray;
      margin-left:0px; 
      height:70px;
      width:100%;
      text-indent: 40%;
      
  }
  
    .searchbutton{
      padding:20px;
      border-radius:100px;
      background:gray;
      border:0;
      margin-top:30px;
      color:#ffffff;
      width:100%;
      margin-left:0;
  }
  
  .photo{
    img{
      height:40vh;
    }
  }
}

