$maincolour:#d6dce0;
$secondcolour:#ffd680;

.h1{
    text-align:center;
    color:gray;
}

#eror{
    text-align:center;
    color:gray;
    margin-top:60px;
    font-size:20px;
}

#two{
    color:#ffd680;
}





.venuetext{
    color:gray;
    text-decoration:none;
    font-weight:700;
    text-align:center;
    font-size:25px;
    text-transform:uppercase;
    text-decoration:none;
}

.venuetext:hover{
    text-decoration:underline;
}

.venuecat{
  color:orange;
  text-transform:lowercase;
  font-size:20px;
  text-decoration:none;
}

.venuecit{
  color:black;
  font-size:15px;
  text-transform:uppercase;
  text-decoration:none;
}






/* clear fix */
.photo:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.photo-sizer,
.photo-item {
  width: 100%;
}

@media screen and (min-width: 600px) {

.photo-sizer,
.photo-item {
  width: 100%;
  margin-left:100px;
  margin-right:100px;
  
  
}





}

.photo-item {
  float: right;
  position: relative;
   
}

.photo-item img {
  display: block;
  min-width: 100%;
  max-width: 100%;
}



.ib{
  margin-right:30px;
}



.tablink {
    background-color: #D3D3D3;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 24px 16px;
    font-size: 20px;
    width: 33.3333333333%;
}

.tablink:hover {
    background-color: gray;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 150px;
    text-align: center;
}

#London {background-color:#ffd680;}
#Paris {background-color:#ffd680;}
#Tokyo {background-color:#ffd680;}

#posts {
    width:90%;
    float:right;
    padding-top:70px;
    margin-right:30px;
	.post {
		background: transparent;
		width: 25%;
		float: left;
		margin: 1rem 2.5%;
		border: 0px solid #E4E4E4;
		margin-bottom:100px;
		.post_image {;
			img {
				width: 93%;
				height: 67%;

				
			}
		}
		.post_content {
			margin-top:40px;
		    .username {
			  float: left;
			  color:#ffffff;
			  margin-bottom:20px;
			  margin-top:5px;
			  a{
			  	color:gray;
			  	text-decoration:none;
			  	&:hover{
			  		color:#333233;;
			  	}
			  }
			  .name{
			    color:#ffffff;
			    &:hover{
			        color:lightgray;
			    }
			  }
			}
			h2 {
				margin: 0;
				font-weight: 100;
				margin-top:0rem;
				font-size: 2.25rem;
				a {
					text-decoration: none;
					color: #ffffff;
					&:hover {
						color: #E9E9E9;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #969696;
				.username, .buttons {
					margin: 0;
					font-size: .8rem;
				}
				.buttons {
					float: right;
					span {
						margin-left: .5rem;
					}
				}
			}
		}
	}
}