$maincolour:#d6dce0;
$secondcolour:#00CED1;

.h1{
    text-align:center;
    color:gray;
}

#eror{
    text-align:center;
    color:gray;
    margin-top:60px;
    font-size:20px;
}

#two{
    color:#ffd680;
}





.venuetext{
    color:gray;
    text-decoration:none;
    font-weight:700;
    text-align:center;
    font-size:25px;
    text-transform:uppercase;
    text-decoration:none;
}

.venuetext:hover{
    text-decoration:underline;
}

.venuecat{
  color:orange;
  text-transform:lowercase;
  font-size:20px;
  text-decoration:none;
}

.venuecit{
  color:black;
  font-size:15px;
  text-transform:uppercase;
  text-decoration:none;
}






/* clear fix */
.photo:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.photo-sizer,
.photo-item {
  width: 100%;
}

@media screen and (min-width: 600px) {

.photo-sizer,
.photo-item {
  width: 100%;
  margin-left:100px;
  margin-right:100px;
  
  
}





}

.photo-item {
  float: right;
  position: relative;
   
}

.photo-item img {
  display: block;
  min-width: 100%;
  max-width: 100%;
}



.ib{
  margin-right:30px;
}



.tablink {
    background-color: gray ;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 24px 16px;
    font-size: 20px;
    width: 25%;
}

.tablink:hover {
    background-color: #D3D3D3;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 100px;
    text-align: center;
}

#London {background-color:#FFDAB9;}
#Paris {background-color:#FFDAB9;}
#Tokyo {background-color:#FFDAB9;}
#Lagos {background-color:#FFDAB9;}

#posts {
    width:90%;
    float:right;
    padding-top:70px;
    margin-right:30px;
	.post {
		background: transparent;
		width: 25%;
		float: left;
		margin: 1rem 2.5%;
		border: 0px solid #E4E4E4;
		margin-bottom:100px;
		.post_image {;
			img {
				width: 93%;
				height: 67%;

				
			}
		}
		.post_content {
			margin-top:40px;
		    .username {
			  float: left;
			  color:#ffffff;
			  margin-bottom:20px;
			  margin-top:5px;
			  a{
			  	color:gray;
			  	text-decoration:none;
			  	&:hover{
			  		color:#333233;;
			  	}
			  }
			  .name{
			    color:#ffffff;
			    &:hover{
			        color:lightgray;
			    }
			  }
			}
			h2 {
				margin: 0;
				font-weight: 100;
				margin-top:0rem;
				font-size: 2.25rem;
				a {
					text-decoration: none;
					color: #ffffff;
					&:hover {
						color: #E9E9E9;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #969696;
				.username, .buttons {
					margin: 0;
					font-size: .8rem;
				}
				.buttons {
					float: right;
					span {
						margin-left: .5rem;
					}
				}
			}
		}
	}
}

.wrapperven{
  width: 50%;
  margin-top:300px;
  .desc{
  	width:100%;
  	color:#708090;
  }
  img{
  	height:60vh;
  }


}

.comment{
  text-align:center;
}

.index{
	.searchbutton{
		width:20%;
	}
}

.features{
  text-align:center;

  i{
  	color:#00CED1;
  	font-size:30px;
  	font-weight:700;
  }
}

.underline{
	text-decoration:underline;
}

.paginate{
	color:#ffd680;
	text-align:center;
	text-decoration:none;
	a{
		color:#ffd680;
		text-decoration:none;
		&:hover{
			color:gray;
		}
	}
}

.next_page{
	color:#ffd680;
}

#regForm{

.width{
	width:300px;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 50%;
  min-width: 300px;
}
h1 {
  text-align: center;  
}

.in{
  outline: none;
	background: transparent;
	color:$maincolour;
	text-decoration:none;
	border: 1px solid gray;
	padding: 30px;
	border-radius:10px;
	width:70%;
	&:hover {
		border: 1px solid $secondcolour;
		color: $secondcolour;

	}

}
input {
  padding: 25px;
  width:200px;
  border-color:$secondcolour;
  color:$secondcolour;
  &:hover{
    border-color:gray;
    color:gray;
  }
}

/* Hide all steps by default: */
.tab {
  display: none;
}
button {
  background-color: $secondcolour;
  color: #ffffff;
  border: none;
  padding: 20px 25px;
  font-size: 17px;
  cursor: pointer;
  border-radius:5px;
}
button:hover {
  opacity: 0.8;
}
#prevBtn {
  background-color: $maincolour;
  margin-right:40px;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: $secondcolour;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.step.active {
  opacity: 1;
}
/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: $secondcolour;
}
}